{% extends "base_generic.html" %}

{% block content %}
<body>
<div class="container">
<h2 class="titulotp" align="center">Ingresar Género</h2>
<div class="row">
    <div class="col-lg-8 mx-auto">
        
    <p></p>
    <form method="POST" class="post-form">{% csrf_token %}
            <div style="font-size: 12px;">
                {{ form.as_p }}
            </div>
        <button type="submit" class="save btn btn-primary btn-xl" style="float: right;   margin-top: 2%">Guardar</button>
        <br>
    </form>
    <button onClick="javascript:history.go(-1)" class="btn btn-primary btn-xl" style="float:left;;">Atrás</button>
</div>
</div>
</div>

</body>
{% endblock %}